
/* Color NAV negro */
.color-black{
    background: rgb(53, 58, 64);
}
/* color texto nav */
.color-green{
    color: #29A744;
}
.color-greenLight{
    background-color: rgb(150, 201, 62);
}

.form-orador{
    width: 80vw;
}
